#card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  width: 330px;
  height: 500px !important;
  margin: 2rem;
  background: radial-gradient(circle, rgb(96 38 63) 0%, rgba(148,187,233,1) 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 8px #1b1b1b, -5px -5px 8px #272727;
  transition: 0.4s;
  position: relative;
 
  #card-body {
    height: 65%;

    #card-image{
      height: 300px;
      border-radius: 5px;
      background-size: cover;
      background-repeat: no-repeat;
    }

}

  #footer {
    position: absolute;
    bottom: 1%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 13px;
    color: #b3b3b3;
    width: 100%;
    padding-top: 0.4rem;
    height: 40px;

    button{
      width: 90%;
      border-radius: 8px;
    }
  }
}

.flex-center{
  display: flex;
  justify-content: center;
  margin: 1rem;

  input{
    text-align: center;
  }
}

textarea{
  resize: none;
  height: 60px;
}