.nav-links{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  background-image: url('../../../assets/img/BG-jardin.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 27px;
  border-radius: 12px;
  width: 65%;
  box-shadow: 2px 2px 12px 4px rgba(0,0,0,0.68);
  -webkit-box-shadow: 2px 2px 12px 4px rgba(0,0,0,0.68);
  -moz-box-shadow: 2px 2px 12px 4px rgba(0,0,0,0.68);

  p{
  color: aliceblue;
    font-size: 1.5rem;
    font-family: 'Shizuru';
  }
}