

  <div class="container text-center animate__animated animate__slideInUp">
    <div class="row">
      @for (blog of fakeData; track $index) 
      {
        <div class="col-4">
          <app-card-blog
            [cardBlogPicture]="blog.cardPictureBonsai"
            [cardBlogTextTitle]="blog.cardTextTitle"
            [cardBlogTextBody]="blog.cardTextBody"
            [cardBlogAuthorName]="blog.cardAuthorName"
            [cardBlogDatePublied]="blog.cardDatePublied">
          </app-card-blog>
        </div>
      }
    </div>
  </div>
