img{
    height: 50px;
    width: 50px;
    &:hover{
        cursor: pointer;
        background-color: beige;
        border: dotted grey 1px;
        border-radius: 24px;
    }
}

button{
    border : none;
}

#forced-size{
    width: fit-content;
    max-height: 500px;
}

#bg-glass{
  background: rgba(255, 255, 255, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  border: 1px solid rgba(255, 255, 255, 0.59);
}