<div id="forced-width" class="col d-flex justify-content-center flex-column bg-light rounded-end h-100">
    <ul class="nav flex-column justify-content-evenly h-100">
        <li>
            <button (click)="executeHomeFunction()">
                <img src="{{logoHome}}" alt="{{altHome}}">
            </button>
        </li>
        <li>
            <button (click)="executeAddFunction()">
                <img src="{{logoAdd}}" alt="{{altAdd}}">
            </button>
        </li>
        <li>
            <button (click)="executeUpdateFunction()">
                <img src="{{logoUpdate}}" alt="{{altUpdate}}">
            </button>
        </li>
        <li>
            <button (click)="executeDeleteFunction()">
                <img src="{{logoDelete}}" alt="{{altDelete}}">
            </button>
        </li>
    </ul>
</div>

