<div class="wrapper">
  @if (dataToDisplay.length > 0) {

    @for (bonsai of dataToDisplay; track $index) {

      <div class="container" (click)="onClickCard(bonsai)" [appDeleteHover]="isDeleteBonsai$" [appUpdateHover]="isUpdateBonsai$">

        <div class="header-container">

          <div class="img-container">
          @if(bonsai.bonsaiPicture.length > 0){
            <img src="{{ bonsai.bonsaiPicture[0].fileName }}" alt="image d'un bonsai" width="100%">
          }@else {
            <img src="/assets/img/bonsai-1.png" alt="image d'un bonsai" width="100%">
          }
          </div>

          <div class="title-container">
            <h3>{{ bonsai.bonsaiName }}</h3>
          </div>

        </div>

        <div class="body-container">
          <p>{{ bonsai.bonsaiDescription }}</p>
        </div>

        <div class="footer-container">
          <p>Créé le : <span>{{bonsai.createAt | date: "dd MMMM YYYY" }}</span> </p>
        </div>

      </div>

    }

  }@else {

    @for (bonsai of mockup; track $index) {

      <div class="container" (click)="onClickCard(bonsai)" [appDeleteHover]="isDeleteBonsai$" [appDeleteHover]="isDeleteBonsai$" [appUpdateHover]="isUpdateBonsai$">

        <div class="header-container">

          <div class="img-container">
            <img src="{{ bonsai.bonsaiPicture[0].fileName }}" alt="image d'un bonsai" width="100%">
          </div>

          <div class="title-container">
            <h3>{{ bonsai.bonsaiName }}</h3>
          </div>

        </div>

        <div class="body-container">
          <p>{{ bonsai.bonsaiDescription }}</p>
        </div>

        <div class="footer-container">
          <p>Créé le : <span>{{bonsai.createAt | date: "dd MMMM YYYY" }}</span> </p>
        </div>

      </div>

    }

  }

</div>