#wrapper{
    display: flex;
    width: 99vw;
    height: 80vh;
    align-items: center;
    flex-wrap: wrap;

  .container-left{
      display: flex;
      justify-content: center;
      width: 25%;

    .container-left-img{
        background-image: url('/assets/img/logo-couleur.png');
        background-size: contain;
        background-repeat: repeat;
        height: 536px;
        width: 108px;
        border-radius: 10px;
        margin: 0;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;

    .form_area {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-image: url('/assets/img/house1-clean.png');
      background-size: cover;
      min-height: 500px;
      border: 2px solid #264143;
      border-radius: 20px;
      box-shadow: 3px 4px 0px 1px #E99F4C;
      min-height: 550px;

      .form_group {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin: 10px;
        background: rgba(83, 32, 32, 0.21);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8.7px);
        -webkit-backdrop-filter: blur(8.7px);
        border: 1px solid rgba(83, 32, 32, 0.18);

        .sub_title {
          color:mintcream;
          font-weight: 600;
          margin: 5px 0;
        }
        
        .form_style {
          outline: none;
          border: 2px solid #264143;
          box-shadow: 3px 4px 0px 1px #E99F4C;
          width: 290px;
          padding: 12px 10px;
          border-radius: 4px;
          font-size: 15px;

          &:focus{
            transform: translateY(4px);
            box-shadow: 1px 2px 0px 0px #E99F4C;
          }
        }

      }
      .btn {
        padding: 15px;
        margin: 25px 0px;
        width: 290px;
        font-size: 15px;
        background: #DE5499;
        border-radius: 10px;
        font-weight: 800;
        box-shadow: 3px 3px 0px 0px #E99F4C;
        cursor: pointer;

        &:hover{
          opacity: .9;
        }

        &:focus{
          transform: translateY(4px);
          box-shadow: 1px 2px 0px 0px #E99F4C;
        }      
      }

      #redirect-to-signup{
        a{
          color: floralwhite;
          font-weight: 700;
          text-decoration-line: underline;
        }
      }
    }
  }

.container-right{
    display: flex;
    justify-content: center;
    width: 25%;

    .container-right-img{
    background-image: url('/assets/img/logo-couleur.png');
    background-size: contain;
    background-repeat: repeat;
    height: 536px;
    width: 108px;
    border-radius: 10px;
    margin: 0;
    }
  }

  .footer{
    width: 100%;
  }

}
