.card {
    padding: 0.6rem;
    min-height: 476px;
    max-height: 476px;
    margin: 2rem;
    background: radial-gradient( circle, rgb(96, 38, 63) 0%, rgb(148, 187, 233) 100%);
    border-radius: 20px;
    box-shadow: 5px 5px 8px #1b1b1b, -5px -5px 8px #272727;
    transition: 0.4s;
    cursor: pointer;

  &:hover {
    translate: 0 -10px;
  }

  .card-image {
    background-color: #313131;
    border-radius: 15px;
    background: #313131;
    box-shadow: inset 5px 5px 3px #2f2f2f, inset -5px -5px 3px #333333;
  }

  .card-title {
    font-size: 18px;
    font-weight: 600;
    color: #b2eccf;
}

  .cardBlog-body {
    overflow-y: auto;
    color: rgb(184, 184, 184);
    font-size: 15px;
}

  .footer {
    font-size: 13px;
    color: #b3b3b3;
    margin-top: 0.8rem;

    .by-name {
      font-weight: 700;
    }
  }
}






