<div class="container-md mx-auto position-relative" 
     style="height: 55vh;"
    >
    <table class="table position-absolute top-50 start-50 translate-middle">
        <thead>
            <tr class="text-center">
                <th>Nom</th>
            </tr>
        </thead>
        <tbody class="row">
            <tr class="input-group mb-3" style="margin-left: 0;">
                <td class="col-4" for="change-name" (click)="activeFocusInput()">
                    <span class="input-group-text justify-content-center">
                        <label for="change-name">Nom actuel : {{ userInfo.name }}</label>
                    </span>
                </td>
                <td class="col-4 justify-content-center">
                    <input  id="change-name" class="form-control text-center"
                            [formControl]="controlName"  
                            type="text"
                            placeholder="Nouveau pseudo"                         
                        >
                </td>
                <td class="col-4 text-center d-grid gap-2">
                    <button class="btn btn-primary" (click)="updateName()">Change</button>
                </td>
            </tr>
        </tbody>
        <thead>
            <tr class="text-center">
                <th>Mot de passe</th>
            </tr>
        </thead>
        <tbody class="row">
            <tr class="input-group mb-3" style="margin-left: 0;">
                <td class="col-4 justify-content-center">
                    <div class="row">
                        <div class="col-10">

                            @if(!IsValidActualPasswd){
                                <input id="actual-passwd" class="form-control text-center" 
                                       [formControl]="controlPasswdActual"
                                       type="{{ passwordActualVisible ? 'text' : 'password' }}"
                                       placeholder="Mot de passe actuel" 
                                       autocomplete="off"
                                    >
                            }
                            @else {
                                <input id="actual-passwd" class="form-control text-center"
                                       type="password"
                                       placeholder="Mot de passe actuelle vaildé !"
                                       readonly 
                                       disabled
                                    >
                            }

                        </div>
                        <div class="col-2">
                            <button class="border-none" (click)="togglePasswordActualVisibility()">
                                <i  class="fa" 
                                    [ngClass]="{'fa-eye': !passwordActualVisible, 'fa-eye-slash': passwordActualVisible}">
                                </i>
                            </button>
                        </div>
                    </div>
                </td>
                <td class="col justify-content-center">
                    <div class="row">
                        <div class="col-10">

                            @if(!IsValidActualPasswd){
                                <input  id="new-passwd" class="form-control text-center"
                                        type="password"
                                        placeholder="Valide d'abord ton mot de passe !"
                                        disabled 
                                        autocomplete="off"
                                    >
                            }
                            @else {
                                <input  id="new-passwd" class="form-control text-center"
                                        [formControl]="controlPasswdNew" 
                                        type="{{ passwordNewVisible ? 'text' : 'password' }}" 
                                        placeholder="Nouveau mot de passe"
                                        autocomplete="off"
                                    >
                            }

                        </div>
                        <div class="col-2">
                            <button class="border-none" (click)="togglePasswordNewVisibility()">
                                <i class="fa" [ngClass]="{'fa-eye': !passwordNewVisible, 'fa-eye-slash': passwordNewVisible}"></i>
                            </button>
                        </div>
                    </div>
                </td>
                <td class="col text-center d-grid gap-2">

                    @if(!IsValidActualPasswd){
                        <button class="btn btn-success" (click)="checkActualPasswd()">Vérification du mot de passe actuel</button>
                    }
                    @else{
                        <button class="btn btn-warning" (click)="updatePass()">Valide ton nouveau mot de passe</button>
                    }

                </td>
            </tr>
        </tbody>
        <thead>
            <tr class="text-center">
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr class="input-group mb-3" style="margin-left: 0;">

                @if(!emailIsValid){
                    <td class="col justify-content-center">
                        <input  id="actual-mail" class="form-control text-center"
                                [formControl]="controlEmailActual"
                                type="email"
                                placeholder="Entre ton mail actuel" 
                                autocomplete="off"
                            >
                    </td>
                    <td class="col justify-content-center">
                        <input  id="new-mail" class="form-control text-center"
                                type="email"  
                                placeholder="Valide d'abord ton email"
                                disabled
                            >
                    </td>
                    <td class="col text-center d-grid gap-2">
                        <button (click)="checkMail()" class="btn btn-success">Vérification du mail actuel</button>
                    </td>
                }
                @else {
                    <td class="col justify-content-center">
                        <input  id="actual-mail" class="form-control text-center"
                                type="email" 
                                placeholder="Mail actuel vérifié !"
                                disabled
                            >
                    </td>
                    <td class="col justify-content-center">
                        <input  id="new-mail" type="email" class="form-control text-center"
                                [formControl]="controlEmailNew"                       
                                placeholder="Nouveau mail"
                                autocomplete="off"
                            >
                    </td>
                    <td class="col text-center d-grid gap-2">
                        <button class="btn btn-warning" (click)="updateActualMail()">Valider le changement de mail</button>
                    </td>
                }

            </tr>
        </tbody>
    </table>
</div>









