<div id="forced-margin" class="container-fluid">
  <div id="forced-height" class="row">
<div class="col-auto p-0">
    <app-side-barre
      [logoHome]="pathLogoHome"
      [logoAdd]="pathLogoAdd"
      [logoUpdate]="pathLogoUpdate"
      [logoDelete]="pathLogoDelete"
      [altHome]="altLogoHome"
      [altAdd]="altLogoAdd"
      [altUpdate]="altLogoUpdate"
      [altDelete]="altLogoDelete"
      [isHomeButtonAsClicked]="callRedirectToHome"
      [isAddButtonAsClicked]="callAddBonsaiComponent"
      [isUpdateButtonAsClicked]="callUpdateBonsaiComponent"
      [isDeleteButtonAsClicked]="callDeleteBonsaiComponent"
    />
</div>
    <div class="col">
       <div class="row">
        <div class="col-12">
           @if(dataToDisplay.length > 0){
          <app-card-bonsai [dataFromAPI]="dataToDisplay" />
        }@else{
          <h1>Pas de Bonsai créer</h1> 
        }
        </div>
       </div>
    </div>
  </div>
</div>



@if(isCreateBonsai$ | async){
  <app-create-bonsai/>
}

@if(isUpdateBonsai$ | async){
  <p>Update actived</p>
}

@if(isDeleteBonsai$ | async){
  <p>Delete actived</p>
}
