<div id="forced-margin" class="p-fluid">
  <div class="p-grid">
    <div id="sidebar" class="p-col-fixed p-0">
      <ul class="p-nav p-flex-column p-jc-evenly">
        <li>
          <button>
            <img src="{{pathLogoHome}}" alt="{{altLogoHome}}">
          </button>
        </li>
        <li>
          <button type="button" (click)="showModalCreate()">
            <img src="{{pathLogoAdd}}" alt="{{altLogoAdd}}">
          </button>
        </li>
        <li>
          <button type="button" (click)="callUpdateBonsaiComponent()">
            <img src="{{pathLogoUpdate}}" alt="{{altLogoUpdate}}">
          </button>
        </li>
        <li>
          <button type="button" (click)="callDeleteBonsaiComponent()">
            <img src="{{pathLogoDelete}}" alt="{{altLogoDelete}}">
          </button>
        </li>
      </ul>
    </div>
    <div id="marginLeft">
      <app-card-bonsai [dataFromAPI]="dataToDisplay" (cardClicked)="onCardClicked($event)"/>
    </div>
  </div>
</div>

<!-- MODAL -->
<p-dialog [(visible)]="isVisibleCreate" [modal]="true" [style]="{width: '50vw'}">
  <ng-template pTemplate="header">
    <h4>Create Bonsai</h4>
  </ng-template>
  <ng-template pTemplate="content">
    <app-create-bonsai/>
  </ng-template>
</p-dialog>

<!-- MODAL for update -->
<p-dialog [(visible)]="isVisibleUpdate" [modal]="true" [style]="{width: '50vw'}">
  <ng-template pTemplate="header">
    <h4>Update Bonsai</h4>
  </ng-template>
  <ng-template pTemplate="content">
    <app-update-bonsai [idBonsai]="idBonsai" [title]="titleBonsai" [description]="descriptionBonsai" [imgArray]="imageArray"/>
  </ng-template>
</p-dialog>





<button class="p-button p-button-success" (click)="debuggerTools()">debug tools</button>

@if(errorBonsai.length > 0){
  @for(error of errorBonsai; track $index){
    <p>{{error}}</p>
  }
}
