<div id="translate-y--50" class="fixed top-50 left-0 flex flex-column justify-content-between h-auto">
  <ul class="list-none p-0 m-0 h-full flex flex-column justify-content-between">
    <li class="pt-3 pb-3 bg-white">
      <button type="button" class="bg-white">
        <img src="{{pathLogoHome}}" alt="{{altLogoHome}}">
      </button>
    </li>
    <li class="pt-3 pb-3 bg-white">
      <button type="button" class="bg-white" (click)="showModalCreate()">
        <img src="{{pathLogoAdd}}" alt="{{altLogoAdd}}">
      </button>
    </li>
    <li class="pt-3 pb-3 bg-white">
      <button type="button" class="bg-white" (click)="callUpdateBonsaiComponent()">
        <img src="{{pathLogoUpdate}}" alt="{{altLogoUpdate}}">
      </button>
    </li>
    <li class="pt-3 pb-3 bg-white">
      <button type="button" class="bg-white" (click)="callDeleteBonsaiComponent()">
        <img src="{{pathLogoDelete}}" alt="{{altLogoDelete}}">
      </button>
    </li>
  </ul>
</div>
<div id="marginLeft">
  <app-card-bonsai [dataFromAPI]="dataToDisplay" (cardClicked)="onCardClicked($event)"/>
</div>



<dialog id="modal-create-bonsai">
  <button class="modal-btn-close" (click)="hiddeModalCreate($event)">X</button>
   <app-create-bonsai/>
</dialog>



@if(dataToDisplay.length == 0){
  <p>No content</p>
}
