#toast-wrapper{
    position: absolute;
    border: solid 4px black;
    border-radius: 10px;
    width: 17rem;
    background-image: linear-gradient(to bottom, #c74430, #dc7231, #ea9e3b, #f3ca53, #f6f577);
    right: 5%;
    animation-name: display-toast;
    animation-duration: 1s;
    transition: 1s;
    display: none;
}

#toats-head{
    display: flex;
    height: 2rem;
    line-height: 2rem;

    button{
        width: 1.5rem;
        background: none;
        border: none;
    }

}


@keyframes display-toast {
    from{
        right: -250px;
    }
    to{
        right: 5%;
    }
}