<div [formGroup]="updateForm">
    <div id="card">
        <div id="card-body">
            <div class="flex-center">
                <input formControlName="title" type="text" placeholder="titre" value="{{ title }}">
            </div>
            <div id="card-image" class="block">
                <input type="file" id="fileInput">
                <img src="{{ img }}" id="previewImage" alt="Image Preview" width="100%" height="279px">
            </div>
            <div class="flex-center">
                <input formControlName="description" value="{{ description }}" style="width: 100%; height: 3.5rem;">
            </div>
        </div>
        <div id="footer">
            <button (click)="sendModel()" class="btn btn-primary more-details">Mettre à jour</button>
        </div>
    </div>
</div>

<!-- =================> TOAST -->
<p-toast position="bottom-center"></p-toast>