
<div class="container" style="height: 60vh; display: flex; justify-content: center; align-items: center;">
   <div class="grid">
      <div class="col-3" style="border: none;">
         <app-card-profil 
            [cardName]="compteName"
            [cardImage]="compteImage"
            routerLink="account"
         />
      </div>
      <div class="col-3">
         <app-card-profil 
            [cardName]="bonsaiName"
            [cardImage]="bonsaiImage"
            routerLink="bonsai"
         />
      </div>
      <div class="col-3">
         <app-card-profil 
            [cardName]="postAndCommentName"
            [cardImage]="postAndCommentImage"
            routerLink="post"
         />
      </div>
      <div class="col-3">
         <app-card-profil
            [cardName]="notificationName"
            [cardImage]="notificationImage"
            routerLink="notification"
         />
      </div>
   </div>
</div>
