.card {
  padding: 20px;
  width: 330px;
  height: 500px !important;
  margin: 2rem;
  background: radial-gradient(circle, rgb(96 38 63) 0%, rgba(148,187,233,1) 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 8px #1b1b1b, -5px -5px 8px #272727;
  transition: 0.4s;
  position: relative;
  &:hover {
    translate: 0 -10px;
  }

  .card-image {
    background-color: #313131;
    border-radius: 15px;
    background: #313131;
    box-shadow: inset 5px 5px 3px #2f2f2f, inset -5px -5px 3px #333333;
    height: 300px;
    width:300px;
  }

  .card-title {
    font-size: 18px;
    font-weight: 600;
    color: #b2eccf;
    text-align: center;
}

  .card-body {
    margin: 13px 0 0 10px;
    color: rgb(184, 184, 184);
    font-size: 15px;
    max-height: 200px;
    overflow-y: auto;
    text-overflow: ellipsis;
}

  .footer {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    font-size: 13px;
    color: #b3b3b3;
    width: 100%;
    padding-top: 0.4rem;

      p{
        color: blanchedalmond;

      }
      span{
        color: lightblue;
      }
  }
}
  .more-details{
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    border-radius: 0 0 9px 9px;
    &:hover{
      background-color: lightblue;
      color: hotpink;
    }
  }

.bg-text{
    background-color: black !important;
    color: red !important;
}

ul{
    list-style-type: none;
}

.flex-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

