*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    html{
        min-height: 100vh;
    }
        body{
            height: 90vh;
            background: rgb(29,198,124);
            background: linear-gradient(82deg, rgba(29,198,124,0.3883928571428571) 16%, rgba(33,135,230,0.7133228291316527) 51%, rgba(74,0,255,0.4108018207282913) 100%);
        }
}

