/* All delay classes will take half the time to start */
:root {
  --animate-delay: 0.5s;
}



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    html{
        min-height: 100vh;
    }

    body{
        height: 97.5vh;
        background: linear-gradient(82deg, rgba(29,198,124,0.3883928571428571) 16%, rgba(33,135,230,0.7133228291316527) 51%, rgba(74,0,255,0.4108018207282913) 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow-x: hidden; // --> For fix animation

        @media (max-width : 825px){
            display: flex;
            justify-content: center;
            align-items: center;
        }
        }
}



@media  (max-width : 825px) {
    #navigation{
        display: none !important;
        border: solid 20px black;
    }
}
