<!-- DISPLAY DATA FROM API -->
@if(dataFromAPI.length > 0){
  <div class="ml-8 mt-8 flex justify-content-evenly align-items-end flex-wrap">
    @for (bonsai of dataFromAPI; track $index) {
      <div>
          <p-card header="{{bonsai.bonsaiName}}" subheader="" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
            @if(bonsai.bonsaiPicture.length > 0){
                <img alt="Card" src="{{bonsai.bonsaiPicture[0].fileName}}">
            }
            </ng-template>
            <p>{{bonsai.bonsaiDescription}}</p>
            <ng-template pTemplate="footer">
              <p>{{bonsai.createAt}}</p>
            </ng-template>
        </p-card>
      </div>
    }
  </div>
}

<button (click)="debugg()">debug</button>