<nav id="navigation">
    <ul class="nav-links">
        <li>
            <a [routerLink]="['/']" class="link">Accueil</a>
        </li>

        <li>
            <a [routerLink]="['/signup']" class="link">Inscription</a>
        </li>

        <li class ="center">
            <a [routerLink]="['/login']" class="link">Connexion</a>
        </li>

        <li class="forward">
            <a [routerLink]="['/blog']" class="link">blog</a>
        </li>

        <li class ="forward">
            <a [routerLink]="['/about']" class="link">À propos</a>
        </li>
    </ul>
</nav>
