<nav>
    <ul>
        <li><a [routerLink]="['/']">Home</a></li>

        <li><a [routerLink]="['/contact']">Contact</a></li>
        <li><a [routerLink]="['/contact/mailing']">Mail</a></li>
        <li><a [routerLink]="['/contact/mapping']">Map</a></li>

        <li><a [routerLink]="['/about']">About</a></li>
        <li><a [routerLink]="['/about/experience']">Expérience</a></li>
        <li><a [routerLink]="['/about/skill']">Skill</a></li>

        <li><a [routerLink]="['/signup']">SignUp</a></li>
        <li><a [routerLink]="['/login']">Login</a></li>
    </ul>

</nav>
