<div class="container-md mx-auto position-relative" style="height: 55vh;">
    <table class="table position-absolute top-50 start-50 translate-middle">
        <thead>
            <tr class="text-center">
                <th scope="col">Nom</th>
            </tr>
        </thead>
        <tbody class="row">

            @if (controlName.invalid && controlName.touched)
            {
                <app-form-error-info 
                    [tooltipText]="'Le nom doit être de minimum 3 caractères 🙃'"
                    [errorMessage]="'Le nom est pas correct ! '">
                </app-form-error-info>
            }

            <tr class="input-group mb-3" style="margin-left: 0;">
                <td class="col-4" for="change-name" (click)="activeFocusInput()">
                    <span class="input-group-text justify-content-center">
                        <label for="change-name">{{ name }} :</label>
                    </span>
                </td>
                <td class="col-4 justify-content-center">
                    <input [formControl]="controlName" id="change-name" type="text" class="form-control text-center" placeholder="Nouveau pseudo" required>
                </td>
                <td class="col-4 text-center d-grid gap-2">
                    <button class="btn btn-primary" (click)="updateName()">Change</button>
                </td>
            </tr>
        </tbody>
        <thead>
            <tr class="text-center">
                <th>Mot de passe</th>
            </tr>
        </thead>
        <tbody class="row">


  @if (controlPasswdActual.invalid && controlPasswdActual.touched)
            {
                <app-form-error-info 
                    [tooltipText]="'Le mot de passe doit contenir 8caractères, 1majuscule, 1minuscule, 1chiffre et 1caractère spécial'"
                    [errorMessage]="'Le nouveau mot de passe n\'est pas correct !'">
                </app-form-error-info>
            }

  @if (controlPasswdNew.invalid && controlPasswdNew.touched)
            {
                <app-form-error-info 
                    [tooltipText]="'Le mot de passe doit contenir 8caractères, 1majuscule, 1minuscule, 1chiffre et 1caractère spécial'"
                    [errorMessage]="'Le nouveau mot de passe n\'est pas correct !'">
                </app-form-error-info>
            }

            <tr class="input-group mb-3" style="margin-left: 0;">
                <td class="col-4 justify-content-center">

<div class="row">

    <div class="col-10">
                    @if(!IsValidActualPasswd){

                        <input [formControl]="controlPasswdActual" id="actual-passwd" type="{{ passwordActualVisible ? 'text' : 'password' }}" class="form-control text-center" placeholder="Mot de passe actuel">

                    }@else {
                        <input id="actual-passwd" type="password" class="form-control text-center" placeholder="Mot de passe actuelle vaildé !" readonly disabled>
                    }

    </div>

    <div class="col-2">

                    <button (click)="togglePasswordActualVisibility()">
                    <i class="fa" [ngClass]="{'fa-eye': !passwordActualVisible, 'fa-eye-slash': passwordActualVisible}"></i>
                    </button>
    </div>

</div>
                </td>


                <td class="col justify-content-center">

<div class="row">
    <div class="col-10">
    @if(!IsValidActualPasswd){
        <input id="new-passwd" type="password" class="form-control text-center" placeholder="Nouveau mot de passe" disabled required>

    
    }@else {
        <input [formControl]="controlPasswdNew" id="new-passwd" type="{{ passwordNewVisible ? 'text' : 'password' }}" class="form-control text-center" placeholder="Nouveau mot de passe">

    }
    </div>

    <div class="col-2">
                    <button (click)="togglePasswordNewVisibility()">
                    <i class="fa" [ngClass]="{'fa-eye': !passwordNewVisible, 'fa-eye-slash': passwordNewVisible}"></i>
                    </button>
    </div>
</div>
                </td>


                <td class="col text-center d-grid gap-2">
  
                    @if(!IsValidActualPasswd){    
                        <button class="btn btn-success" (click)="checkActualPasswd()">Vérification du mot de passe actuel</button>
                    }@else{
                        <button class="btn btn-warning" (click)="updatePass()">Valide ton nouveau mot de passe</button>
                    }

                </td>


            </tr>


        </tbody>
        <thead>
            <tr class="text-center">
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>


  @if (controlEmail.invalid && controlEmail.touched)
            {
                <app-form-error-info 
                    [tooltipText]="'L\'adresse mail n\'est pas valide 😧'"
                    [errorMessage]="'Mail invalide ! '">
                </app-form-error-info>
            }


            <tr class="input-group mb-3" style="margin-left: 0;">
                <td class="col justify-content-center">
                    <input id="actual-mail" type="email" class="form-control text-center" placeholder="Mail actuel">
                </td>
                <td class="col justify-content-center">
                    <input [formControl]="controlEmail" id="new-mail" type="email" class="form-control text-center" placeholder="Nouveau mail">
                </td>
                <td class="col text-center d-grid gap-2">
                    <button class="btn btn-primary">Change</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>



<button type="button" class="btn btn-primary" id="liveToastBtn" (click)="sendChangement()">Show live toast</button>

<div id="toast-wrapper">
    <div id="toats-head">
        <p class="col">Attention erreur :</p>
        <p class="text-right">
            <button class="col" (click)="closeToast()">❌</button>
        </p>
    </div>
    <div id="toats-bottom" class="col">
        <p>Le champ à mal été remplie blabla</p>
    </div>
</div>


<button (click)="debug()">DEBUG</button>
